.iframe2048 {
    vertical-align: top;

    overflow: scroll;
    height: 450px;
    width: 350px;
}
.socialHref{
    color: #669DB3FF;
}

body {
    font-family: 'B612';
    font-size: 22px;
}
html, body
{
    height: 100%;

}

.footerText{
    font-size: 21px;
    color: white;

    header{
        width: 20%;
    }
}

.bodytext{
    font-size: 16px;
}

a{
    font-size: 16px;
}

.maintable{
    height: 100%;
    overflow:hidden;
    width: 100%;
}